.highlighted-div {
    width: 72%; 
    margin: 20px auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    overflow: hidden; 
}

.box {
    width: calc(20% - 20px); 
    margin: 10px;
    text-align: left; 
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box; 
    display: flex; 
    align-items: center; 
}

.box img {
    max-width: 50%; 
    height: auto;
    border-radius: 5px;
    margin-right: 10px; 
}

.text-content {
    font-size: 14px;
    flex: 1; 
}

.text-content p {
    margin: 0;
}

.timeline-container {
    display: flex;
    justify-content: space-around; 
    margin-bottom: 20px; 
}

.timeline-box {
    background-color: #194e80; 
    color: white; 
    padding: 15px 30px; 
    border-radius: 5px; 
    width: 478px; 
    text-align: center; 
}

.span-container {
    display: flex;
    justify-content: space-around; 
    padding: 10px; 
}

.left-span {
    padding: 10px; 
}

.right-span {
    padding: 10px; 
}

.container {
    display: flex;
    justify-content: space-between; 
    padding-left: 20px; 
    padding-right: 20px; 
}

.left-box {
    width: 35%;
    height: auto;
    background-color: #4085bc; 
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 20px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.right-box {
    width: 50%; 
    height: 45px; 
    background-color: #4085bc; 
    border-radius: 10px;
    margin-right: 20px; 
    color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


.image-container {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px; 
}

