.section3 {
    background-color: #EFEFF1; 
    padding: 20px;
    text-align: center; 
}

.sec3 {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    max-width: 800px; 
    margin: 0 auto; 
}

.sec3 h1 {
    margin: 0; 
}

.slide {
    margin-left: auto; 
}

.blog-line {
    margin-top: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-line p {
    background-color: #f0f0f0; 
    padding: 0 10px; 
    margin: 0; 
}

.blue-line {
    border: none; 
    border-top: 2px solid #0E95C2; 
    width: 100%;
}

.slide1 {
    display: flex;
    justify-content: space-between; 
    padding: 0 20px;
    margin: 20px auto; 
}

.slidebox1 {
    width: 30%; 
    height: 490px; 
    background-color: #EBEBF5; 
    border-radius: 10px; 
    margin: 0 10px;
    border: 3px solid #CFD1D0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.slidebox1:first-child {
    margin-left: 20px; 
}

.slidebox1:last-child {
    margin-right: 20px; 
}

.slidebox1-image {
    width: 100%;
    height: 50%; 
    object-fit: cover; 
    border-radius: 10px 10px 0 0; 
}

.slidebox1-content {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.study-in-canada {
    color: #179ad0;
    margin: 10px 0;
    text-align: center;
}

.university-title {
    color: black;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}

.read-time {
    color: #5f6065;
    margin: 10px 0;
    text-align: center;
}

.divider {
    border: 1px solid lightgray;
    width: 100%;
    margin: 10px 0;
}

.university-description {
    margin: 10px 0;
    text-align: center;
    color: #5f6065;
}

.read-more-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: transparent;
    border:2px solid lightgray;
    color: #5f6065;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.read-more-button:hover {
    border:2px solid lightgray;
    color: #5f6065;
}
