.highlighted-div {
    width: 72%; /* Adjust width as needed */
    margin: 20px auto; /* Center the div horizontally */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Center boxes with space between */
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Shadow effect */
    overflow: hidden; /* Ensure overflow is hidden for the shadow */
}

.box {
    width: calc(20% - 20px); /* Adjust width for each box with margin */
    margin: 10px; /* Adjust margin for spacing between boxes */
    text-align: left; /* Align text to the left */
    /* background-color: #f0f0f0; */
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box; /* Include padding and border in box size */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
}

.box img {
    max-width: 50%; /* Adjust the width of the image */
    height: auto;
    border-radius: 5px;
    margin-right: 10px; /* Space between image and text */
}

.text-content {
    font-size: 14px;
    flex: 1; /* Allow text content to take remaining space */
}

.text-content p {
    margin: 0;
}
