.section6 {
    padding: 20px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    gap: 105px; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.image-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.image-cell img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.container6 {
    display: flex;
    justify-content: space-between; 
    padding: 0 20px; 
    margin: 20px auto; 
}

.boxs6 {
    width: 49%;
    height: 420px;
    border-radius: 10px; 
    
    margin: 0 10px;
}


.boxContainer {
    display: flex;
    justify-content: space-between; 
    padding: 0 20px;
    margin: 20px auto; 
}

.subox1, .subox2 {
    width: 46%;
    height: 288px;
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    margin: 0 10px; 
}

.subox1 {
    background-color: #d5f4f6; 
}

.subtext1{
    margin-left: 4%;
    margin-top: 11%;
}

.subtext2{
    margin-left: 4%;
    margin-top: 11%;
}

.subtext1 h3, .subtext1 p {
    margin: 10px 0; 
}

.subtext2 h3, .subtext2 p {
    margin: 10px 0; 
}

.subox2 {
    background-color: #e8e0f8; 
}

.buttonContainer {
    text-align: center; 
    margin-top: 20px;
}

.exploreMore {
    padding: 10px 20px; 
    background-color: white; 
    color: #3498db; 
    border: 2px solid #3498db; 
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}
