.section4 {
    background-color: #fff; 
}

.sec4 {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    max-width: 800px; 
    margin: 0 auto 20px; 
}

.sec4 h1 {
    margin: 0; 
}

.slideSection4 {
    margin-left: auto; 
}

.centered-div-sec4 {
    text-align: center; 
    background-color: #0486f4; 
    padding: 10px;
    border-radius: 18px; 
    max-width: 400px; 
    margin: 0 auto 20px; 
}

.centered-div-sec4 p {
    color: white; 
    font-weight: bold; 
    margin: 0; 
}

.box-div {
    width: 80%; 
    height: 200px; 
    margin: 20px auto; 
    border-radius: 10px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}
.hexagon {
    position: relative;
    width: 100px; 
    height: 115px;
    background-color: #f0f0f0;
    margin: 0 10px; 
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    overflow: hidden;
    border: 2px solid #4caf50;
}

.hexagon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 45%; 
    height: auto;
    border-radius: 5px; 
}

.slide2 {
    display: flex;
    justify-content: space-between; 
    padding: 0 20px; 
    margin: 20px auto; 
}

.slidebox2 {
    width: 28%;
    height: 260px;
    background-color: #EBEBF5; 
    border-radius: 10px; 
    margin: 0 10px; 
    border: 3px solid #CFD1D0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.small-image {
    width: 100px;
    height: 25px;
    margin-bottom: 10px; 
}

.university-name {
    color: #179ad0;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 600;
}

.location {
    color: grey;
    margin-bottom: 10px;
    font-size: 17px;
}

.requirements {
    width: 100%;
}

.requirement {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.small-icon {
    width: 40px;
    height: 42px;
    margin-right: 10px;
}

.requirement-text {
    display: flex;
    flex-direction: column;
}

.score {
    font-size: 16px;
    margin: 0;
    color: grey;
}

.description {
    font-size: 16px;
    color: grey;
    margin: 0;
}

.apply-now {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: transparent;
    border: 2px solid #179ad0;
    color: #179ad0;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.apply-now:hover {
    background-color: #179ad0;
    color: white;
}

.slidebox2:first-child {
    margin-left: 20px; 
}

.slidebox2:last-child {
    margin-right: 20px; 
}
